@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
	font-family: Rubik;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url("../assets/BlockBlack.jpg");
	min-height: 100%;
}

main {
	background: repeat-x top center / contain
		url("../assets/background-dirt.png");
	background-size: 300%;
	display: flex;
	flex-direction: column;
}

.gradiant {
	background: white
		linear-gradient(
			180deg,
			rgba(217, 148, 87, 0.6) 0%,
			rgba(205, 134, 62, 0.6) 35.58%,
			rgba(133, 170, 237, 0.6) 65.87%,
			rgba(153, 214, 228, 0.6) 100%
		);
	width: 100%;
	height: 11.55vh;
}

.dirt {
	width: 100%;
	height: 38.45vh;
	background-image: url(../assets/background-dirt.svg);
}

nav {
	display: flex;
	justify-content: center;
	gap: 19px;
	padding: 12px;
	background: url(../assets/BlockBlack.jpg);
}

.nav-2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
}

.icon-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 7px;
}

.title {
	display: flex;
	gap: 3px;
	font-weight: 700;
	font-size: 16px;
	line-height: 100%;
	color: #fff;
}

.link {
	display: none;
}

.search {
	display: flex;
	align-items: center;
	border-radius: 18px;
	gap: 3px;
	padding: 5px;
	background: #fff;
}

input {
	border: none;
	width: 22vw;
	height: 100%;
}

.burger {
	display: block;
}

.night {
	display: none;
}

section {
	padding: 32px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 26px;
	margin: 27px;
	margin-top: 142px;
	background-color: #e6eff4;
	border-radius: 4px;
	min-height: 110%;
}

.special-link {
	font-weight: 300;
	font-size: 12px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	vertical-align: middle;
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-thickness: 0%;
	text-decoration-skip-ink: auto;
	color: #0246f1;
}

h5 {
	font-weight: 500;
	font-size: 12px;
	line-height: 100%;
	text-align: center;
	vertical-align: middle;
	color: #3a3a3a;
}

h4 {
	font-weight: 700;
	font-size: 16px;
	line-height: 100%;
	text-align: center;
	color: #ffffff;
}

h3 {
	color: #8c8c8c;
	font-weight: 700;
	font-size: 22px;
	line-height: 100%;
	text-align: center;
	vertical-align: middle;
}

h2 {
	color: #3a3a3a;
	font-weight: 500;
	font-size: 22px;
	line-height: 100%;
}

h1 {
	color: #3a3a3a;
	font-weight: 300;
	font-size: 48px;
	line-height: 100%;
	text-align: center;
}

p {
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
}

span {
	font-weight: 600;
	font-size: 16px;
}

label {
	color: #3a3a3a;
}

hr {
	height: 1px;
	background-color: #3a3a3a;
	width: 100%;
}

.link-pages {
	color: #fff;
	text-decoration: none;
}

html {
	height: 100vh;
}

main {
	height: max-content;
}

.menu-burger{
	display: none;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	align-items: center;
	flex-direction: column;
	gap: 40%;
}

.background {
	background-color: black;
	opacity: 50%;
	display: flex;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
	position: absolute;
}

.link-pages-menu {
	color: white;
	font-weight: 600;
	font-size: 38px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}

.button-link-menu {
	display: flex;
	flex-direction: row;
	gap: 30px;
}

.menu-img {
	width: 20%;
}

.menu-img-2 {
	width: 6vh;
}

.link-menu {
	display: flex;
	flex-direction: column;
	gap: 30px;
	z-index: 3;
}

.croix {
	display: flex;
	flex-direction: row;
	justify-content: right;
	width: 100%;
	z-index: 3;
	margin-top: 5%;
	margin-right: 5%;
}

.overflow-hidden {
	overflow: hidden;
  }

@media screen and (min-width: 768px) {
	.search {
		width: 80%;
	}
	.search1 {
		width: 77%;
	}

	.block {
		text-decoration: underline;
		text-underline-offset: 8px;
	}

	main {
		align-items: center;
		background-size: 150%;
	}

	.nav-1 {
		display: flex;
		flex-direction: row;
		gap: 12px;
	}

	.nav-2 {
		display: flex;
		flex-direction: row;
		gap: 12px;
	}

	.burger {
		display: none;
	}
	.night {
		display: block;
	}
	section {
		width: 75%;
	}

	.link {
		display: flex;
		gap: 24px;
	}

	.menu-burger{
		display: none;
	}

	.button-link {
		color: #ffff;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 13px;
	}

	.button-link-menu {
		color: #ffff;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 13px;
	}
}

@media screen and (min-width: 1080px) {
	input {
		border-radius: 24px;
	}
	.search {
		width: 30vw;
		border-radius: 24px;
	}

	main {
		background-size: 65%;
	}

	nav {
		justify-content: space-between;
	}

	.nav-1 {
		gap: 40px;
	}

	.nav-2 {
		gap: 250px;
	}
}

.background-passive {
	background-color: #4f8c69;
}

.background-neutral {
	background-color: #e3b599;
}

.background-hostile {
	background-color: #d24646;
}

.border-bottom-hostile {
	border-bottom: solid 2px #d24646;
}

.border-bottom-neutral {
	border-bottom: solid 2px #e3b599;
}

.border-bottom-passive {
	border-bottom: solid 2px #4f8c69;
}

.border-hostile {
	border: solid 2px #d24646;
}

.border-neutral {
	border: solid 2px #e3b599;
}

.border-passive {
	border: solid 2px #4f8c69;
}
