h1 {
	font-weight: 300;
	font-size: 48px;
	line-height: 100%;
	text-align: center;
}

.gras {
	font-weight: 600;
	color: #000000;
}
.value {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	align-self: center;
}
.colume {
	display: flex;
	flex-direction: column;
	gap: 7px;
	width: 100%;
}

.modo {
	width: 75%;
	height: 4vh;
	border: none;
	border-radius: 4px;
}

.p-input {
	font-weight: 700;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0;

	color: #3a3a3a;
}

input {
	border: none;
	width: 75%;
	height: 4vh;
	border-radius: 4px;
	padding: 8px;
}

section {
	padding: 12px;
}

.vert {
	background-color: #4f8c69;
	width: 40%;
	color: #ffffff;
	border: none;
	border-radius: 99px;
	padding: 10px;
	font-weight: 700;
	font-size: 22px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
}

.create-modo {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

table {
	border: 1px solid blackx;
	border-collapse: collapse;
}

tr {
	border: 1px solid #000000;
}

.body-head {
	display: table-row-group;
}

.td-1 {
	padding: 2px;
}

.td-2 {
	padding: 2px;
}

.td-3 {
	padding: 5px;
}

.td-4 {
	padding: 3px;
}
.td-5 {
	padding: 13px;
}

table {
	color: #3a3a3a;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
	vertical-align: middle;
}

.responsive-2 {
	display: none;
}

.head-body {
	background-color: #8e8e8e;
}
@media screen and (min-width: 768px) {
	.modo {
		width: 95%;
		height: 3vh;
	}

	input {
		width: 95%;
		height: 3vh;
	}

	.vert {
		width: 30%;
	}

	.responsive-1 {
		display: none;
	}
	.responsive-2 {
		display: block;
	}

	.head-body {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		height: 27vh;
	}
}

@media screen and (min-width: 1080px) {
	input {
		width: 25vw;
	}
}
