h1 {
	font-weight: 300;
	font-size: 48px;
	line-height: 100%;
	text-align: center;
}

.gras {
	font-weight: 600;
	color: #000000;
}
.value {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	align-self: center;
}
.colume {
	display: flex;
	flex-direction: column;
	gap: 7px;
	width: 100%;
}

.modo {
	width: 75%;
	height: 4vh;
	border: none;
	border-radius: 4px;
}

.p-input {
	font-weight: 700;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0;

	color: #3a3a3a;
}

input {
	border: none;
	width: 75%;
	height: 4vh;
	border-radius: 4px;
	padding: 8px;
}

section {
	padding: 12px;
}

.vert {
	background-color: #4f8c69;
	width: 40%;
	color: #ffffff;
	border: none;
	border-radius: 99px;
	padding: 10px;
	font-weight: 700;
	font-size: 22px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
}

.create-modo {
	display: flex;
	flex-direction: column;
	gap: 15px;
}


.responsive-2 {
	display: none;
}

.head-body {
	background-color: #8e8e8e;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.body-head {
	display: flex;
	flex-direction: row;
}

section {
	width: 88vw;
}


tr {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

table {
	width: 80vw;
	border-collapse: collapse;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
  }
  
  thead {
	background-color: #d3d3d3;
	width: 100%;
  }
  
  thead th {
	padding: 5px;
	font-weight: 600;
	text-align: center;
  }
  
  tbody td {
	padding: 5px;
	text-align: center;
	vertical-align: middle;
  }
  
  tbody tr {
	border-bottom: 1px solid #ccc;
  }
  
  tbody img {
	width: 32px;
	height: 32px;
	object-fit: contain;
  }
  
  .delete-btn {
	background-color: #ff4d4d;
	color: white;
	border: none;
	border-radius: 6px;
	padding: 5px 10px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.3s ease;
  }
  
  .delete-btn:hover {
	background-color: #e60000;
  }
  
@media screen and (min-width: 768px) {
	.modo {
		width: 95%;
		height: 3vh;
	}

	input {
		width: 95%;
		height: 3vh;
	}

	.vert {
		width: 30%;
	}

	.responsive-1 {
		display: none;
		max-width: 0;
	}
	.responsive-2 {
		display: block;
	}

	.head-body {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		height: 7vh;
	}
}

@media screen and (min-width: 1080px) {
	input {
		width: 25vw;
	}
}