h1 {
	font-weight: 300;
	font-size: 48px;
	line-height: 100%;
	text-align: center;
}

.gras {
	font-weight: 600;
	color: #000000;
}
.value {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	align-self: center;
}
.colume {
	display: flex;
	flex-direction: column;
	gap: 7px;
	width: 100%;
}

.modo {
	width: 75%;
	height: 4vh;
	border: none;
	border-radius: 4px;
}

.p-input {
	font-weight: 700;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0;
	color: #3a3a3a;
}

input {
	border: none;
    width: 75%;
    height: 4vh;
    border-radius: 4px;
    padding: 8px;
}

section {
	padding: 12px;
}

.vert {
	background-color: #4f8c69;
	width: 40%;
	color: #ffffff;
	border: none;
	border-radius: 99px;
	padding: 10px;
	font-weight: 700;
	font-size: 22px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
}

@media  screen and (min-width: 768px) {
	.modo  {
		width: 95%;
		height: 3vh;
	}

	input {
		width: 95%;
		height: 3vh;
	}

	.vert {
		width: 30%;
	}
}