* {
	margin: 0;
	padding: 0;
}

html {
	height: 100vh;
}

body {
	height: 100vh;
}

.word-gras {
	font-weight: 600;
	color: #000000;
}

hr {
	height: 1px;
	background-color: #3a3a3a;
	width: 100%;
}

.p-link {
	font-weight: 400;
}

@media screen and (min-width: 1080px) {
	main {
		min-height: 100vh;
	}
}
